<div class="container">

  <div class="py-1 text-center">

    <!-- Image -->
    <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM5vde2mxfjvQZ3P9coh8fMzgm0YzMVpZjNX5Mwv98IGSKsHqtNg" alt="" width="200" height="200">


    <h1>Thank You </h1>
    <p class="lead"></p>
    <p>
      Mr Chan, the confimation email has been sent to your mailbox.
    </p>

    <h3>
      $30 Kris Shop Promo Code is here.
      <br>Enjoy our greatest shopping experience!

    </h3>

  </div>

  <!--Transfer from to section-->
  <!-- MD means breakpoint -->

  <div class="row">
    <div class="col-12 col-md-2 ">
    </div>


    <div class="col-12 col-md-8 ">
      <ul class="list-group mb-0">
        <div>
          <h1 align="center">#KRIS30</h1>

        </div>

      </ul>
    </div>
  </div>

  <div class="row">


    <hr class="mb-4">
    <div class="col">
      <a href="https://www.krisshopair.com/" class="">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Go to Kris Shop</button>
      </a>
    </div>
  </div>


  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2018 Think Tank</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms & Condition</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>