.o-0{
    opacity:0;
}
label{
    padding:0;
}
label.btn.active>div{
    background:grey;
    color:white;
    
}
input[type="radio"]{
    position:absolute;
    outline: none;
    width:0.1px;
    height:0.1px;
}
.focus{
    box-shadow: none;
}